extends ../common/layout.pug

block content
  .section#startSection
    .columns.is-centered
      .column.is-half
        .content.has-text-centered
          h1 About
          h4 
            a(href='https://github.com/Wisbell/tandem-trivia' target='blank') Source Code

